.popup__registration-message {
    margin: 32px calc((100% - 358px)/2) 60px;
    font-size: 24px;
    font-weight: 900;
}
@media screen and (max-width: 767px) {
    .popup__registration-message {
        margin: 40px calc((100% - 244px)/2) 50px;
        font-size: 20px;
    }
}