.profile__wrapper {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}
@media screen and (max-width: 767px) {
    .profile__wrapper {
        margin: 0;
        justify-content: center;
    }
}