.elements__list {
    margin: 45px 0 66px 0;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 18px;
    padding: 0;
}
@media screen and (max-width: 1023px) {
    .elements__list {
        grid-template-columns: repeat(2, 282px);
        justify-content: center;
    }
}
@media screen and (max-width: 767px) {
    .elements__list {
        grid-template-columns: 282px;
        grid-gap: 20px;
        margin: 45px 0 48px 0;
    }
}